body {
height: 100%;
background: -moz-linear-gradient(top, rgba(32,119,214,1) 0%, rgba(26,197,182,1) 100%);
background: -webkit-linear-gradient(top, rgba(32,119,214,1) 0%,rgba(26,197,182,1) 100%);
background: linear-gradient(to bottom, rgba(32,119,214,1) 0%,rgba(26,197,182,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2077d6', endColorstr='#1ac5b6',GradientType=0 );
font-family: 'Heebo', sans-serif;
}
h1 {
  font-size: 3em;
  font-weight: 700;
}
h3 {
  font-size: 1.5em;
  font-weight: 700;
}
.hero {
height: 800px;
text-align: center;
padding: 20px;
color:#FAF5EC;
}
.lt {
  margin:0 auto;
  max-width: 80%;
  min-width: 20%;
}
.lt img {
  content-align: center;
}
.lt h3 {
  font-size: 2.3em;
/* margin-bottom: 20px; */
max-width: 700px;
margin: -45px auto;
line-height: 55px;
padding-top: 90px;
}
.lt h1 {
    margin: 0 auto;
    padding-top: 90px;
}
.learn {
  font-size: 2em;
  text-decoration: none;
  width: 230px;
  margin: 0 auto;
  margin-top: 195px;
}
.learn a {
  padding-top: 40px;
text-decoration: none;
color: inherit;
display: none;
}
.learn img {
  padding-top: 10px;
  height: 31px;

}
.content {
  margin-left: 10%;
margin-right: 10%;
margin-top: 100px;
}

.group h3 {
  color: #FAF5EC;
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 15px;
}

.group p {
  color: #FAF5EC;
  line-height: 150%;
  font-size: 1em;
  letter-spacing: .3px;
}
.gcontent {
  padding-bottom: 35px;
}
.hoods {
  text-align:center;
  margin-bottom: 55px;

}
.hoods h6 {
   text-transform: uppercase;
}
.hoods li {
  background: white;
    display: inline-block;
    border-radius: 3px;
    font-weight: 700;
    padding: 30px 30px;
    letter-spacing: 1px;
    font-size: 1.2em !important;
    margin: 2rem auto;
    box-shadow: 0px 15px 40px -26px;
    padding-top: 25px;
    margin-left: 10px;
    font-size: 2em;
    box-sizing: border-box;
}


.jbut {
  color: #faf5ec;
      text-decoration: none;
      font-weight: 700;
      border-radius: 3px;
      background: #006574;
      display: inline-block;
      padding: 20px 50px;
      letter-spacing: 1px;
      font-size: 1.7em !important;
      text-transform: uppercase;
      margin: 2rem auto;
      cursor:pointer;
      padding-top: 25px;

      font-size: 2em;

}

.join  {
 text-align: center;

}

.join h3 {
  text-align: left;
}

.join p {
  text-align: left;
}
.phl{
      padding: 10px;
float: right;
}
    .fa {
    color: #E90606;
    margin: 0 3px;
    font-size: 15px;
}
.buy {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  font-weight: 800;
}
.buy .image {
  height: 300px;
  width:325px;
  background: grey;
  float:left;
}
.ch {
    background-image: url(img/hoods/ch.png) !important;
    background-size: cover !important;


}
.oc {
    background-image: url(img/hoods/boc.jpg) !important;
    background-size: cover !important;
}
.qv {
    background-image: url(img/hoods/vasa.png) !important;
    background-size: cover !important;
}
.rox {
    background-image: url(img/hoods/rox.png) !important;
    background-size: cover !important;
}
.pb {
    background-image: url(img/hoods/pbbp.png) !important;
    background-size: cover !important;
}
.info {
float: right;
width: 505px;
text-align: left;
padding-left: 20px;
font-weight: 100;
}
.buy h6 { text-align: left;

  padding-bottom: 15px;
}
.buy .crd-foot {
  width: 100%;
  text-align: center;
  float: right;
  padding-top: 35px;


}
 .buy li {
   min-width: 910px;
   margin-left: 0px;



}
.crd-head {
  font-size: 1.4em;
padding-left: 25px;
float: left;
font-weight: 900;
}
.phl {
  color: #FAF5EC;
}

@media screen and (max-width: 800px) {
  .buy {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    font-weight: 800;
}
.buy li {
    max-width: 100%;
    min-width: 100%;
}
.buy .image {
    height: 300px;
    width: 300px;
    background: grey;
    float:none;
  margin: 0 auto;}

.crd-head {
    font-size: 2.4em;
    padding-top: 25px;
    padding-left: 0px;
    float: left;
    font-weight: 900;
}
.info {
    float: right;
    width: 100%;
    font-size: .9em;
    line-height: 20px;
    text-align: left;
    padding-left: 1px;
    font-weight: 100;
}
.buy .crd-foot {
    width: 100%;
    text-align: center;
    float: right;
    padding-top: 35px;
}
.lt img {
    content-align: center;
    width: 100%;
}
.content {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 100px;
}
.buy h6 {
    text-align: center;
    padding-bottom: 15px;
}
.crd-head {
    font-size: 1.4em;
    padding-top: 25px;
    /* padding-left: 0px; */
    margin: 0 auto;
    float: none;
    width: 100%;
    text-align: center;
    font-weight: 900;
}
.ch {
    background-image: url(img/hoods/ch.png) !important;
    background-size: 300px 300px !important;


}
.oc {
    background-image: url(img/hoods/boc.jpg) !important;
    background-size: 300px 300px !important;
}
.qv {
    background-image: url(img/hoods/vasa.png) !important;
    background-size: 300px 300px !important;
}
.rox {
    background-image: url(img/hoods/rox.png) !important;
    background-size: 300px 300px !important;
}
.pb {
    background-image: url(img/hoods/pbbp.png) !important;
    background-size: 300px 300px !important;
}
}
.crd-foot .jbut {
  margin: 0 auto;
}
.info a {
  color: #006574;
}
